[General]
stream = rtsp://admin:Admin12345@Bhascommune.ddns.net:554/cam/realmonitor?channel=1&subtype=0

[Nexmo]
key = 715bbd4e
secret = Ofj97CsXqSsKsLIi
from = Vonage APIs
to = 212698691557

[Email]
email_address = houbaouimimoune@gmail.com
email_password = odguxitouyterbyx
email_addressre = houbamimoune@gmail.com


